body {
	--corner-svg-neg: url('data:image/svg+xml, <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" ><path d="M511.731,0l0.269,0l0,512l-0.269,0l-0,-198.164c-52.556,0 -102.96,20.878 -140.123,58.041c-25.256,25.256 -42.99,56.627 -51.762,90.633l-127.961,-0c-8.772,-34.006 -26.506,-65.377 -51.762,-90.633c-37.163,-37.163 -87.567,-58.041 -140.123,-58.041l0,-115.672c52.556,-0 102.96,-20.878 140.123,-58.041c25.256,-25.256 42.99,-56.627 51.762,-90.633l127.961,0c8.772,34.006 26.506,65.377 51.762,90.633c37.163,37.163 87.567,58.041 140.123,58.041l-0,-198.164Z"/></svg>');
	--corner-size: 1.5rem;
	--corner-mask: var(--corner-svg-neg) 0 0 / var(--corner-size)
			var(--corner-size) no-repeat,
		var(--corner-svg-neg) 100% 0 / var(--corner-size) var(--corner-size)
			no-repeat,
		var(--corner-svg-neg) 100% 100% / var(--corner-size) var(--corner-size)
			no-repeat,
		var(--corner-svg-neg) 0 100% / var(--corner-size) var(--corner-size)
			no-repeat,
		linear-gradient(#000) 0 calc(var(--corner-size) / 2) / 100%
			calc(100% - var(--corner-size)) no-repeat,
		linear-gradient(#000) calc(var(--corner-size) / 2) 0 /
			calc(100% - var(--corner-size)) 100% no-repeat;
	&:before {
		//overlay lights
		content: '';
		z-index: 5000;
		position: fixed;
		top: 10%;
		left: 10%;
		height: 80%;
		width: 80%;
		background-color: #e7b031;
		border-radius: 100%;
		mix-blend-mode: overlay;
		filter: blur(100px);
		opacity: 0.4;
		pointer-events: none;
	}
	&:after {
		content: '';
		z-index: 4000;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		box-shadow: 0 0 150px rgba(0, 0, 0, 0.5) inset;
		pointer-events: none;
	}
}

.btn,
button:not(.foh-display__button) {
	position: relative;
	border-radius: 0;
	border: none;
	padding: 0.4rem 2rem;
	color: var(--wp--preset--color--contrast);
	transition: all 0.15s ease-out;
	//hack: border color
	mask: var(--corner-mask);
	background-color: var(--wp--preset--color--green);
	//hack: background color
	/*&:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		height: calc(100% - 4px);
		width: calc(100% - 4px);
		mask:
			var(--corner-mask) add,
			linear-gradient(#fff) 0 0 / cover no-repeat exclude;
		//mask-composite: add, exclude;
		background-color: rgba(0, 0, 0, 0.5);
	}
*/
	&:hover {
		border: none;
		background-color: var(--wp--preset--color--green);
		filter: brightness(1.3);
	}
}
.foh-display__button {
	text-align: left;
	opacity: 1;
	color: var(--wp--preset--color--secondary);
}

$border: 3px solid var(--wp--preset--color--secondary);

div.wpforms-container {
	.wpforms-field-label {
		color: var(--wp--preset--color--contrast);
	}
	.wpforms-field-sublabel {
		color: var(--wp--preset--color--contrast);
	}
	input[type],
	textarea {
		background: var(--wp--preset--color--base);
		border: none;
		border-radius: 0;
		border-bottom: 2px solid var(--wp--preset--color--secondary);
	}
	button[type] {
		border-radius: 0;
	}
}
.temp-contact-container {
	padding-top: var(--wp--custom--gapo--m) !important;
	padding-bottom: var(--wp--custom--gapo--l) !important;
	margin-bottom: var(--wp--custom--gapo--xl) !important;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		border-top: $border;
		border-bottom: $border;
		background-color: var(--wp--preset--color--primary);
		opacity: 0.5;
		mask: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 15%,
			rgba(0, 0, 0, 1) 85%,
			rgba(0, 0, 0, 0) 100%
		);
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	position: relative;
}
.temp-beg-container {
	@media screen and (max-width: 781.5px) {
		& > .wp-block-columns {
			& > :first-child {
				position: relative;
				padding-bottom: var(--wp--custom--gapo--l);
				&:before {
					content: '';
					z-index: -1;
					position: absolute;
					width: 100vw;
					top: 0;
					height: calc(100% + var(--wp--custom--gapo--m));
					left: 50%;
					transform: translate(-50%);
					margin-top: calc(var(--wp--custom--gapo--m) * -1);
					opacity: 0.5;
					mask: linear-gradient(
						90deg,
						rgba(0, 0, 0, 0) 0%,
						rgba(0, 0, 0, 1) 15%,
						rgba(0, 0, 0, 1) 85%,
						rgba(0, 0, 0, 0) 100%
					);
					background: var(--wp--preset--color--primary) 50%;
					border-top: $border;
					border-bottom: $border;
				}
			}
			& > :last-child {
				position: relative;
				padding-top: var(--wp--custom--gapo--l);
				&:before {
					content: '';
					z-index: -1;
					position: absolute;
					width: 100vw;
					top: 0;
					height: calc(100% + var(--wp--custom--gapo--xl));
					left: 50%;
					transform: translate(-50%);
					opacity: 0.5;
					mask: linear-gradient(
						90deg,
						rgba(0, 0, 0, 0) 0%,
						rgba(0, 0, 0, 1) 15%,
						rgba(0, 0, 0, 1) 85%,
						rgba(0, 0, 0, 0) 100%
					);
					background: radial-gradient(
						circle,
						rgba(0, 0, 0, 0.7) 0%,
						rgba(0, 0, 0, 0.2) 100%
					);
					border-top: $border;
					border-bottom: $border;
				}
			}
		}
	}
	@media screen and (min-width: 782px) {
		position: relative;
		&:before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 100vw;
			top: 0;
			height: 100%;
			left: 50%;
			transform: translate(-50%);
			opacity: 0.5;
			mask: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 1) 15%,
				rgba(0, 0, 0, 1) 85%,
				rgba(0, 0, 0, 0) 100%
			);
			background: linear-gradient(
				90deg,
				var(--wp--preset--color--primary) 50%,
				var(--wp--preset--color--base) 50%
			);
			border-top: $border;
			border-bottom: $border;
		}
	}
}
.temp-map-container {
	padding-bottom: var(--wp--custom--gapo--l);
	position: relative;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		border-bottom: $border;
		background-color: var(--wp--preset--color--primary);
		opacity: 0.5;
		mask: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 1) 15%,
				rgba(0, 0, 0, 1) 85%,
				rgba(0, 0, 0, 0) 100%
			),
			linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
		mask-composite: intersect;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		@media screen and (min-width: 782px) {
			top: -6rem;
		}
	}
}
.wp-block-mptab-map .leaflet-container {
	border: $border;
}
.small-gap {
	margin-bottom: var(--wp--custom--gapo--xs);
}
.no-top {
	margin-top: 0;
}
