<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group page-maintenance-container">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">LJM.se får ett ansiktslyft</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Vi jobbar hårt för att det ska bli snyggt och fungera bättre framöver</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		Den [datumet vi lanserar] kommer sidan vara öppen för allmänheten igen.
		Innan dess kan ni hålla er uppdaterade på våra socialamedier
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:social-links -->
	<ul class="wp-block-social-links">
		<!-- wp:social-link {"url":"https://www.facebook.com/profile.php?id=100063723422769","service":"facebook"} /-->

		<!-- wp:social-link {"url":"https://www.instagram.com/ljusdalsbygdensmuseum/","service":"instagram"} /-->
	</ul>
	<!-- /wp:social-links -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
